In [1]:
import tensorflow as tf
import numpy as np
import unicodedata
import re
import pandas as pd

In [2]:

def unicode_to_ascii(s):
    return ''.join(
        c for c in unicodedata.normalize('NFD', s)   # it is used to convert all acented characters Ã¨ to e etc2
        if unicodedata.category(c) != 'Mn')


def normalize_string(s):
    s = unicode_to_ascii(s)   # why we use \r? so that the python does not process it as a for example treat \n as enter etc but as a raw string which regex exactly needed
    s = re.sub(r'([!.?])', r' \1', s)  # the !.? is grouped, so if there is a match, the grouped will be position at 1. So using " \1" will be outputted " [?!.]"
    s = re.sub(r'[^a-zA-Z.!?]+', r' ', s)
    s = re.sub(r'\s+', r' ', s) # + means one or more repetition
    return s

In [3]:
train = pd.read_csv('train.csv')
train.head()

,id,raw_address,POI/street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,3,"toko dita, kertosono",toko dita/
4,4,jl. orde baru,/jl. orde baru

In [4]:
train.columns

Index(['id', 'raw_address', 'POI/street'], dtype='object')

In [5]:
test = pd.read_csv('test.csv')
test.head()

   id                                    raw_address
0   0          s. par 53 sidanegara 4 cilacap tengah
1   1          angg per, baloi indah kel. lubuk baja
2   2                          asma laun, mand imog,
3   3  ud agung rej, raya nga sri wedari karanganyar
4   4                     cut mutia, 35 baiturrahman

# Get data Street

In [25]:
street = train['POI/street'].apply(lambda x: x.split('/')[1])
street_split = street.apply(lambda x: x.split(' '))
raw_split = train['raw_address'].apply(lambda x: x.split(' '))
# data_train[:10]
# print(data_train[10:])


data_train = pd.DataFrame({'raw':train['raw_address'].values,'street':street, 'raw_split':raw_split,'street_split':street_split})

In [26]:
data_train.tail(10)

,raw,street,raw_split,street_split
299990,"ver, durian bajenis",,"[ver,, durian, bajenis]",[]
299991,prib 3 pangkalan jati baru cinere,prib 3,"[prib, 3, pangkalan, jati, baru, cinere]","[prib, 3]"
299992,kios asmi panaikang,,"[kios, asmi, panaikang]",[]
299993,perum tata resid nirwana no e1 6 tanjungan kel.,perum tata resid nirwana,"[perum, tata, resid, nirwana, no, e1, 6, tanju...","[perum, tata, resid, nirwana]"
299994,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,kakap raya,"[karawaci, baru, kakap, raya, 156, rt, 1, rw, ...","[kakap, raya]"
299995,jend ahmad yani 331 kertasari ciamis,jend ahmad yani,"[jend, ahmad, yani, 331, kertasari, ciamis]","[jend, ahmad, yani]"
299996,"raya cila kko, cilandak timur kel.",raya cila kko,"[raya, cila, kko,, cilandak, timur, kel.]","[raya, cila, kko]"
299997,tanjung gusta jl. yaya 2 no 17,,"[tanjung, gusta, jl., yaya, 2, no, 17]",[]
299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,,"[jalan, cipadu, jaya, taman, asri, gang, bijak...",[]
299999,jaya maspion permata blok beryl b2 no.58,,"[jaya, maspion, permata, blok, beryl, b2, , no...",[]

In [8]:
# # !pip install fuzzywuzzy
# # fuzz.ratio('raya','jaya')
# from fuzzywuzzy import fuzz
# indexes_total = []
# tags_total=[]
# for row in data_train.values:
#     a = row[2]
#     b = row[-1]
#     print(a)
#     print(b)
    
#     index = [i for i,x in enumerate(a) if x==b[0]]
#     indexes=[]
#     tags = ['O'] * len(a)
#     if b==['']:
#         indexes_total.append([])
#         tags_total.append(tags)
#         print(indexes)
#         print(tags)
#         print()
#         print()
#         continue
#     for match in index: 
#         iter_match = match
#         if len(b)>1:
#             iter_id = 1
#             for i,val in enumerate(a[iter_match+1:],start=iter_match+1):
#                 if fuzz.partial_ratio(a[i], b[iter_id])==100:
#                     if iter_id==1:
#                         indexes.append(iter_match)
#                         tags[iter_match] = 'B-street'
#                     indexes.append(i)
#                     tags[i] = 'I-street'
#                     iter_id+=1
#                     if iter_id>len(b)-1:
#                         break
#                     continue
#                 else:
#                     indexes=[]
#                     break
#             if len(indexes)==len(b):
#                 break
#         else:
#             tags[iter_match] = 'B-street'
#             indexes.append(iter_match)
            
#     indexes_total.append(indexes)
#     tags_total.append(tags)
#     print(indexes)
#     print(tags)
#     print()

In [141]:
len(indexes_total)==len(data_train.values)

True

In [142]:
len(tags_total)==len(data_train.values)

True

In [143]:
data_train_label = data_train.copy()
data_train_label['label'] = tags_total

In [144]:
data_train_label.head()

,raw,street,raw_split,street_split,label
0,jl kapuk timur delta sili iii lippo cika 11 a ...,jl kapuk timur delta sili iii lippo cika,"[jl, kapuk, timur, delta, sili, iii, lippo, ci...","[jl, kapuk, timur, delta, sili, iii, lippo, cika]","[B-street, I-street, I-street, I-street, I-str..."
1,"aye, jati sampurna",,"[aye,, jati, sampurna]",[],"[O, O, O]"
2,setu siung 119 rt 5 1 13880 cipayung,siung,"[setu, siung, 119, rt, 5, 1, 13880, cipayung]",[siung],"[O, B-street, O, O, O, O, O, O]"
3,"toko dita, kertosono",,"[toko, dita,, kertosono]",[],"[O, O, O]"
4,jl. orde baru,jl. orde baru,"[jl., orde, baru]","[jl., orde, baru]","[B-street, I-street, I-street]"

In [145]:
data_train_label.to_csv('data_train_label.csv',index=False)

# Get data POI

In [8]:
poi = train['POI/street'].apply(lambda x: x.split('/')[0])
poi_split = poi.apply(lambda x: x.split(' '))
raw_split = train['raw_address'].apply(lambda x: x.split(' '))
# data_train[:10]
# print(data_train[10:])


data_train = pd.DataFrame({'raw':train['raw_address'].values,'poi':poi, 'raw_split':raw_split,'poi_split':poi_split})

In [9]:
data_train.tail(10)

,raw,poi,raw_split,poi_split
299990,"ver, durian bajenis",veruna,"[ver,, durian, bajenis]",[veruna]
299991,prib 3 pangkalan jati baru cinere,,"[prib, 3, pangkalan, jati, baru, cinere]",[]
299992,kios asmi panaikang,kios asmi,"[kios, asmi, panaikang]","[kios, asmi]"
299993,perum tata resid nirwana no e1 6 tanjungan kel.,,"[perum, tata, resid, nirwana, no, e1, 6, tanju...",[]
299994,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,,"[karawaci, baru, kakap, raya, 156, rt, 1, rw, ...",[]
299995,jend ahmad yani 331 kertasari ciamis,,"[jend, ahmad, yani, 331, kertasari, ciamis]",[]
299996,"raya cila kko, cilandak timur kel.",,"[raya, cila, kko,, cilandak, timur, kel.]",[]
299997,tanjung gusta jl. yaya 2 no 17,,"[tanjung, gusta, jl., yaya, 2, no, 17]",[]
299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri,"[jalan, cipadu, jaya, taman, asri, gang, bijak...","[taman, asri]"
299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata,"[jaya, maspion, permata, blok, beryl, b2, , no...","[jaya, maspion, permata]"

In [7]:
# !pip install fuzzywuzzy
# # fuzz.ratio('raya','jaya')
# from fuzzywuzzy import fuzz
# indexes_total = []
# tags_total=[]
# for row in data_train.values:
#     a = row[2]
#     b = row[-1]
#     print(a)
#     print(b)
    
#     index = [i for i,x in enumerate(a) if x==b[0]]
#     indexes=[]
#     tags = ['O'] * len(a)
#     if b==['']:
#         indexes_total.append([])
#         tags_total.append(tags)
#         print(indexes)
#         print(tags)
#         print()
#         print()
#         continue
#     for match in index: 
#         iter_match = match
#         if len(b)>1:
#             iter_id = 1
#             for i,val in enumerate(a[iter_match+1:],start=iter_match+1):
#                 if fuzz.partial_ratio(a[i], b[iter_id])==100:
#                     if iter_id==1:
#                         indexes.append(iter_match)
#                         tags[iter_match] = 'B-poi'
#                     indexes.append(i)
#                     tags[i] = 'I-poi'
#                     iter_id+=1
#                     if iter_id>len(b)-1:
#                         break
#                     continue
#                 else:
#                     indexes=[]
#                     break
#             if len(indexes)==len(b):
#                 break
#         else:
#             tags[iter_match] = 'B-poi'
#             indexes.append(iter_match)
            
#     indexes_total.append(indexes)
#     tags_total.append(tags)
#     print(indexes)
#     print(tags)
#     print()

In [12]:
len(indexes_total)==len(data_train.values)

True

In [13]:
len(tags_total)==len(data_train.values)

True

In [14]:
data_train_label = data_train.copy()
data_train_label['label'] = tags_total

In [15]:
data_train_label.head()

,raw,poi,raw_split,poi_split,label
0,jl kapuk timur delta sili iii lippo cika 11 a ...,,"[jl, kapuk, timur, delta, sili, iii, lippo, ci...",[],"[O, O, O, O, O, O, O, O, O, O, O, O, O]"
1,"aye, jati sampurna",,"[aye,, jati, sampurna]",[],"[O, O, O]"
2,setu siung 119 rt 5 1 13880 cipayung,,"[setu, siung, 119, rt, 5, 1, 13880, cipayung]",[],"[O, O, O, O, O, O, O, O]"
3,"toko dita, kertosono",toko dita,"[toko, dita,, kertosono]","[toko, dita]","[B-poi, I-poi, O]"
4,jl. orde baru,,"[jl., orde, baru]",[],"[O, O, O]"

In [16]:
data_train_label.to_csv('data_train_label_poi.csv',index=False)

# Get all of them

In [7]:
data_street = pd.read_csv('data_train_label.csv')
data_poi = pd.read_csv('data_train_label_poi.csv').rename(columns={'label':'label2'})

In [8]:
data_all = pd.concat([data_street,data_poi['label2']],axis=1)
data_all.head()

,raw,street,raw_split,street_split,label,label2
0,jl kapuk timur delta sili iii lippo cika 11 a ...,jl kapuk timur delta sili iii lippo cika,"['jl', 'kapuk', 'timur', 'delta', 'sili', 'iii...","['jl', 'kapuk', 'timur', 'delta', 'sili', 'iii...","['B-street', 'I-street', 'I-street', 'I-street...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
1,"aye, jati sampurna",NaN,"['aye,', 'jati', 'sampurna']",[''],"['O', 'O', 'O']","['O', 'O', 'O']"
2,setu siung 119 rt 5 1 13880 cipayung,siung,"['setu', 'siung', '119', 'rt', '5', '1', '1388...",['siung'],"['O', 'B-street', 'O', 'O', 'O', 'O', 'O', 'O']","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']"
3,"toko dita, kertosono",NaN,"['toko', 'dita,', 'kertosono']",[''],"['O', 'O', 'O']","['B-poi', 'I-poi', 'O']"
4,jl. orde baru,jl. orde baru,"['jl.', 'orde', 'baru']","['jl.', 'orde', 'baru']","['B-street', 'I-street', 'I-street']","['O', 'O', 'O']"

In [9]:
import ast
data_all['label'] = data_all['label'].apply(lambda x: ast.literal_eval(x)).values
data_all['label2'] = data_all['label2'].apply(lambda x: ast.literal_eval(x)).values

In [10]:
data_all.head()

,raw,street,raw_split,street_split,label,label2
0,jl kapuk timur delta sili iii lippo cika 11 a ...,jl kapuk timur delta sili iii lippo cika,"['jl', 'kapuk', 'timur', 'delta', 'sili', 'iii...","['jl', 'kapuk', 'timur', 'delta', 'sili', 'iii...","[B-street, I-street, I-street, I-street, I-str...","[O, O, O, O, O, O, O, O, O, O, O, O, O]"
1,"aye, jati sampurna",NaN,"['aye,', 'jati', 'sampurna']",[''],"[O, O, O]","[O, O, O]"
2,setu siung 119 rt 5 1 13880 cipayung,siung,"['setu', 'siung', '119', 'rt', '5', '1', '1388...",['siung'],"[O, B-street, O, O, O, O, O, O]","[O, O, O, O, O, O, O, O]"
3,"toko dita, kertosono",NaN,"['toko', 'dita,', 'kertosono']",[''],"[O, O, O]","[B-poi, I-poi, O]"
4,jl. orde baru,jl. orde baru,"['jl.', 'orde', 'baru']","['jl.', 'orde', 'baru']","[B-street, I-street, I-street]","[O, O, O]"

In [15]:
def merge_list_label(index,list1,list2):
    list3 = []
    for i in range(len(list1)):
        if list1[i]!='O':
            if list2[i]!='O':
                print(index)
                print()
            list3.append(list1[i])
        elif list2[i]!='O':
            list3.append(list2[i])
        else:
            list3.append('O')
    return list3
        

data_all['label_all'] = data_all.reset_index()[['index','label','label2']].apply(lambda x: merge_list_label(x['index'],x['label'],x['label2']),axis=1)
data_all.head()

1374

1443

1443

2003

2003

2443

2443

3091

3091

3238

3238

3834

3834

5619

5619

6422

6750

6750

6787

6787

7088

7088

9033

9033

9033

9173

9173

9281

9281

10020

10176

12269

13719

14126

14126

14368

14368

14630

14630

15021

15021

15812

15812

15812

15812

15812

16228

16228

16228

16530

17651

17651

17651

18297

18297

18297

19189

19189

19189

19848

19848

20164

20164

20720

20720

21413

21413

21413

22752

22752

23646

23646

23682

23682

24441

24441

26141

26141

26225

26225

26225

26225

26882

27027

27027

30245

30245

30610

30610

30920

31450

31450

32658

32658

32915

32915

32946

32946

33052

33060

33060

33060

33060

33060

34594

34594

36070

36070

36577

36577

39514

39514

39529

39529

40019

40019

41246

42302

42302

44574

44574

44575

44575

44581

44703

45711

45711

46024

46024

46064

46064

47233

47233

47595

47595

48034

48034

48060

48514

49490

49490

49490

49838

49838

50961

50961

51470

51470

51658

51658

51658

51779

51779

51899

51899

51899

51933

51933

51933

53150

53150

53150

53710

55502

55764

56131

56131

56976

56976

57385

57385

57757

57986

57986

58548

58548

60944

60944

63922

64346

64346

64651

66810

66810

67377

67377

67585

67585

67726

67965

68360

68360

68673

68673

68732

69683

70010

70010

70059

70059

70059

70145

70655

70655

70655

70655

71164

71164

73310

73310

73721

73721

73721

76480

76480

76784

76784

76898

76949

76949

77220

77220

78168

78187

79125

79125

80026

80026

80026

80068

80258

80350

80350

82383

82682

84263

84263

84508

84508

84746

84858

84858

84858

85155

85155

85777

85777

85870

85870

87184

87184

87604

87761

88293

88293

88322

88322

89582

89582

89582

89582

89711

89711

90916

90916

91133

91522

91522

91768

91768

91844

93057

93400

93400

93423

93423

93614

93614

93614

93866

93866

93964

93964

94190

94190

94593

94593

94797

94797

94855

94855

95382

96140

96712

96712

97109

97109

97677

97966

99002

99002

99687

99687

101091

101091

101348

101966

101966

102671

102671

102671

102831

102831

102831

104391

104391

104586

104586

105083

105551

106295

106295

106993

106993

107046

107046

107046

108042

108042

109062

109062

109900

109900

110467

110467

110552

110552

110634

111603

111603

112039

112039

112486

112486

112707

112970

113615

113615

113892

113892

114818

114818

115211

115211

117304

117304

117331

117331

117716

118055

118055

118160

118160

118507

118557

118557

118954

118954

118954

119537

119537

120222

120222

121001

121001

122423

122423

122423

123627

123627

123627

123903

123903

125722

125971

125971

126804

126804

128664

128664

129186

129186

129417

129417

130308

130308

130535

130535

130668

130668

133026

133026

133278

133278

134040

134040

134196

134293

134293

134293

134381

134696

134828

134888

134888

134888

135175

135175

135371

135575

135732

136646

136646

136858

136858

136858

136858

136858

137215

137215

137353

137888

137888

138704

138704

139000

139109

139565

139565

139565

140175

140175

140201

140201

140301

140301

140301

140301

140434

143134

143386

143386

143967

143967

144926

144926

146395

146395

146842

146842

146896

146896

146940

146940

146961

146961

147377

147377

147494

147664

147664

147671

147671

149682

149682

149867

149867

150255

150588

150588

151875

151875

152104

152104

152104

152104

152104

152104

152731

152731

153138

153138

153334

153334

153346

153378

153695

153695

153695

154637

154637

155175

155175

156218

156218

157254

157254

159434

159434

160575

160575

160575

161050

161050

161899

161899

162273

162273

164604

164604

165568

165732

165732

165732

166303

166303

167909

168747

168747

168994

168994

170197

170197

170971

171146

171146

171275

171275

171275

171722

171722

171722

171998

172305

172305

172942

172942

173971

173971

174691

174691

175091

175091

175121

175817

175817

176571

176571

176571

176753

176753

176904

176904

177456

178091

178091

178403

178820

178820

179190

179190

179810

180929

180929

184452

184452

185017

185017

185529

185529

185663

185663

186045

186045

186192

186192

187107

187107

187573

187573

187573

187588

187588

188258

189216

189216

189310

189310

189558

189558

190123

190123

190317

191624

191624

191838

191838

192327

192327

192701

192701

192739

192739

193348

193348

194465

194465

195117

196378

196378

196646

196646

196731

197545

198449

198449

198660

198660

198977

199000

199000

199230

199230

199374

199374

199428

199428

199559

199559

199736

200832

200832

200924

200965

200965

202038

202038

202038

202221

202221

202851

202851

203288

203288

204103

204103

205540

205540

205609

205689

205689

205904

205904

206676

206676

206676

208224

208224

209589

209589

209589

209995

211706

211706

212047

212047

212187

212327

212327

212936

212936

213264

213563

213563

213563

213703

213993

213993

214739

214999

214999

214999

214999

214999

215338

215338

215865

215865

216278

216278

217905

217905

218190

218190

218512

218512

220274

220274

220683

220683

221244

221244

221728

221728

221728

222268

222268

223293

223293

223293

224991

225314

225401

225561

225728

226123

226123

226134

226134

226762

226762

227544

227544

227642

227642

227714

227714

227997

227997

228307

228307

229015

229015

229977

230206

230206

230493

230493

231272

231272

231272

231693

231693

231693

233676

233676

234699

234699

237119

237119

239159

239159

239276

239276

239803

239803

239902

239902

240756

240756

241271

241765

241765

242351

242351

242540

245462

245462

246010

246010

247961

248096

248096

248972

248972

249381

249381

249759

249759

250854

250854

252091

252091

252970

253959

253959

254069

254211

254903

254903

254964

254964

255441

255893

255893

256003

256003

256459

256459

256459

256764

256764

257257

257257

257264

257264

257264

258170

258929

258929

259231

259231

259268

259583

261127

261709

261709

262182

262456

262544

262544

262825

262825

263733

264125

264272

264842

264850

264850

265230

265230

266420

266584

266584

266920

266920

267306

267306

268865

268865

269519

269519

270129

270129

270129

270532

270532

271780

271780

271975

271975

272697

272697

273833

273833

274764

275034

275034

275034

276903

276903

277133

277133

277646

278569

278819

279424

279424

279451

279741

279741

279937

279937

281193

281193

281193

281656

281656

282570

282570

282849

283177

283177

283305

283305

284337

284337

285035

285815

285815

285815

286319

286319

287006

287006

287187

287187

287309

287561

287561

287590

287590

287809

289081

289081

289174

289174

289323

289323

289500

289500

289547

289988

289988

290178

290178

290178

291034

291034

291847

291847

292703

292703

292753

293084

293084

293374

293374

293378

293378

293378

293488

293488

293488

293622

293622

297039

297039

297176

297176

297609

297609

297759

297759

297759

297759

298238

298238

299105

299105

299311

299311

299936

,raw,street,raw_split,street_split,label,label2,label_all
0,jl kapuk timur delta sili iii lippo cika 11 a ...,jl kapuk timur delta sili iii lippo cika,"['jl', 'kapuk', 'timur', 'delta', 'sili', 'iii...","['jl', 'kapuk', 'timur', 'delta', 'sili', 'iii...","[B-street, I-street, I-street, I-street, I-str...","[O, O, O, O, O, O, O, O, O, O, O, O, O]","[B-street, I-street, I-street, I-street, I-str..."
1,"aye, jati sampurna",NaN,"['aye,', 'jati', 'sampurna']",[''],"[O, O, O]","[O, O, O]","[O, O, O]"
2,setu siung 119 rt 5 1 13880 cipayung,siung,"['setu', 'siung', '119', 'rt', '5', '1', '1388...",['siung'],"[O, B-street, O, O, O, O, O, O]","[O, O, O, O, O, O, O, O]","[O, B-street, O, O, O, O, O, O]"
3,"toko dita, kertosono",NaN,"['toko', 'dita,', 'kertosono']",[''],"[O, O, O]","[B-poi, I-poi, O]","[B-poi, I-poi, O]"
4,jl. orde baru,jl. orde baru,"['jl.', 'orde', 'baru']","['jl.', 'orde', 'baru']","[B-street, I-street, I-street]","[O, O, O]","[B-street, I-street, I-street]"

In [16]:
data_all.iloc[1374,:]

raw                          akademis prat pt, akademis
street                                         akademis
raw_split       ['akademis', 'prat', 'pt,', 'akademis']
street_split                               ['akademis']
label                        [B-street, O, O, B-street]
label2                         [B-poi, I-poi, I-poi, O]
label_all            [B-street, I-poi, I-poi, B-street]
Name: 1374, dtype: object