In [1]:
import tensorflow as tf
import numpy as np
import unicodedata
import re
import pandas as pd

In [2]:

def unicode_to_ascii(s):
    return ''.join(
        c for c in unicodedata.normalize('NFD', s)   # it is used to convert all acented characters Ã¨ to e etc2
        if unicodedata.category(c) != 'Mn')


def normalize_string(s):
    s = unicode_to_ascii(s)   # why we use \r? so that the python does not process it as a for example treat \n as enter etc but as a raw string which regex exactly needed
    s = re.sub(r'([!.?])', r' \1', s)  # the !.? is grouped, so if there is a match, the grouped will be position at 1. So using " \1" will be outputted " [?!.]"
    s = re.sub(r'[^a-zA-Z.!?]+', r' ', s)
    s = re.sub(r'\s+', r' ', s) # + means one or more repetition
    return s

In [3]:
train = pd.read_csv('train.csv')
train.head()

,id,raw_address,POI/street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,3,"toko dita, kertosono",toko dita/
4,4,jl. orde baru,/jl. orde baru

In [4]:
train.columns

Index(['id', 'raw_address', 'POI/street'], dtype='object')

In [5]:
test = pd.read_csv('test.csv')
test.head()

   id                                    raw_address
0   0          s. par 53 sidanegara 4 cilacap tengah
1   1          angg per, baloi indah kel. lubuk baja
2   2                          asma laun, mand imog,
3   3  ud agung rej, raya nga sri wedari karanganyar
4   4                     cut mutia, 35 baiturrahman

# Get data Street

In [25]:
street = train['POI/street'].apply(lambda x: x.split('/')[1])
street_split = street.apply(lambda x: x.split(' '))
raw_split = train['raw_address'].apply(lambda x: x.split(' '))
# data_train[:10]
# print(data_train[10:])


data_train = pd.DataFrame({'raw':train['raw_address'].values,'street':street, 'raw_split':raw_split,'street_split':street_split})

In [26]:
data_train.tail(10)

,raw,street,raw_split,street_split
299990,"ver, durian bajenis",,"[ver,, durian, bajenis]",[]
299991,prib 3 pangkalan jati baru cinere,prib 3,"[prib, 3, pangkalan, jati, baru, cinere]","[prib, 3]"
299992,kios asmi panaikang,,"[kios, asmi, panaikang]",[]
299993,perum tata resid nirwana no e1 6 tanjungan kel.,perum tata resid nirwana,"[perum, tata, resid, nirwana, no, e1, 6, tanju...","[perum, tata, resid, nirwana]"
299994,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,kakap raya,"[karawaci, baru, kakap, raya, 156, rt, 1, rw, ...","[kakap, raya]"
299995,jend ahmad yani 331 kertasari ciamis,jend ahmad yani,"[jend, ahmad, yani, 331, kertasari, ciamis]","[jend, ahmad, yani]"
299996,"raya cila kko, cilandak timur kel.",raya cila kko,"[raya, cila, kko,, cilandak, timur, kel.]","[raya, cila, kko]"
299997,tanjung gusta jl. yaya 2 no 17,,"[tanjung, gusta, jl., yaya, 2, no, 17]",[]
299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,,"[jalan, cipadu, jaya, taman, asri, gang, bijak...",[]
299999,jaya maspion permata blok beryl b2 no.58,,"[jaya, maspion, permata, blok, beryl, b2, , no...",[]

In [8]:
# # !pip install fuzzywuzzy
# # fuzz.ratio('raya','jaya')
# from fuzzywuzzy import fuzz
# indexes_total = []
# tags_total=[]
# for row in data_train.values:
#     a = row[2]
#     b = row[-1]
#     print(a)
#     print(b)
    
#     index = [i for i,x in enumerate(a) if x==b[0]]
#     indexes=[]
#     tags = ['O'] * len(a)
#     if b==['']:
#         indexes_total.append([])
#         tags_total.append(tags)
#         print(indexes)
#         print(tags)
#         print()
#         print()
#         continue
#     for match in index: 
#         iter_match = match
#         if len(b)>1:
#             iter_id = 1
#             for i,val in enumerate(a[iter_match+1:],start=iter_match+1):
#                 if fuzz.partial_ratio(a[i], b[iter_id])==100:
#                     if iter_id==1:
#                         indexes.append(iter_match)
#                         tags[iter_match] = 'B-street'
#                     indexes.append(i)
#                     tags[i] = 'I-street'
#                     iter_id+=1
#                     if iter_id>len(b)-1:
#                         break
#                     continue
#                 else:
#                     indexes=[]
#                     break
#             if len(indexes)==len(b):
#                 break
#         else:
#             tags[iter_match] = 'B-street'
#             indexes.append(iter_match)
            
#     indexes_total.append(indexes)
#     tags_total.append(tags)
#     print(indexes)
#     print(tags)
#     print()

In [141]:
len(indexes_total)==len(data_train.values)

True

In [142]:
len(tags_total)==len(data_train.values)

True

In [143]:
data_train_label = data_train.copy()
data_train_label['label'] = tags_total

In [144]:
data_train_label.head()

,raw,street,raw_split,street_split,label
0,jl kapuk timur delta sili iii lippo cika 11 a ...,jl kapuk timur delta sili iii lippo cika,"[jl, kapuk, timur, delta, sili, iii, lippo, ci...","[jl, kapuk, timur, delta, sili, iii, lippo, cika]","[B-street, I-street, I-street, I-street, I-str..."
1,"aye, jati sampurna",,"[aye,, jati, sampurna]",[],"[O, O, O]"
2,setu siung 119 rt 5 1 13880 cipayung,siung,"[setu, siung, 119, rt, 5, 1, 13880, cipayung]",[siung],"[O, B-street, O, O, O, O, O, O]"
3,"toko dita, kertosono",,"[toko, dita,, kertosono]",[],"[O, O, O]"
4,jl. orde baru,jl. orde baru,"[jl., orde, baru]","[jl., orde, baru]","[B-street, I-street, I-street]"

In [145]:
data_train_label.to_csv('data_train_label.csv',index=False)

# Get data POI

In [8]:
poi = train['POI/street'].apply(lambda x: x.split('/')[0])
poi_split = poi.apply(lambda x: x.split(' '))
raw_split = train['raw_address'].apply(lambda x: x.split(' '))
# data_train[:10]
# print(data_train[10:])


data_train = pd.DataFrame({'raw':train['raw_address'].values,'poi':poi, 'raw_split':raw_split,'poi_split':poi_split})

In [9]:
data_train.tail(10)

,raw,poi,raw_split,poi_split
299990,"ver, durian bajenis",veruna,"[ver,, durian, bajenis]",[veruna]
299991,prib 3 pangkalan jati baru cinere,,"[prib, 3, pangkalan, jati, baru, cinere]",[]
299992,kios asmi panaikang,kios asmi,"[kios, asmi, panaikang]","[kios, asmi]"
299993,perum tata resid nirwana no e1 6 tanjungan kel.,,"[perum, tata, resid, nirwana, no, e1, 6, tanju...",[]
299994,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,,"[karawaci, baru, kakap, raya, 156, rt, 1, rw, ...",[]
299995,jend ahmad yani 331 kertasari ciamis,,"[jend, ahmad, yani, 331, kertasari, ciamis]",[]
299996,"raya cila kko, cilandak timur kel.",,"[raya, cila, kko,, cilandak, timur, kel.]",[]
299997,tanjung gusta jl. yaya 2 no 17,,"[tanjung, gusta, jl., yaya, 2, no, 17]",[]
299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri,"[jalan, cipadu, jaya, taman, asri, gang, bijak...","[taman, asri]"
299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata,"[jaya, maspion, permata, blok, beryl, b2, , no...","[jaya, maspion, permata]"

In [7]:
# !pip install fuzzywuzzy
# # fuzz.ratio('raya','jaya')
# from fuzzywuzzy import fuzz
# indexes_total = []
# tags_total=[]
# for row in data_train.values:
#     a = row[2]
#     b = row[-1]
#     print(a)
#     print(b)
    
#     index = [i for i,x in enumerate(a) if x==b[0]]
#     indexes=[]
#     tags = ['O'] * len(a)
#     if b==['']:
#         indexes_total.append([])
#         tags_total.append(tags)
#         print(indexes)
#         print(tags)
#         print()
#         print()
#         continue
#     for match in index: 
#         iter_match = match
#         if len(b)>1:
#             iter_id = 1
#             for i,val in enumerate(a[iter_match+1:],start=iter_match+1):
#                 if fuzz.partial_ratio(a[i], b[iter_id])==100:
#                     if iter_id==1:
#                         indexes.append(iter_match)
#                         tags[iter_match] = 'B-poi'
#                     indexes.append(i)
#                     tags[i] = 'I-poi'
#                     iter_id+=1
#                     if iter_id>len(b)-1:
#                         break
#                     continue
#                 else:
#                     indexes=[]
#                     break
#             if len(indexes)==len(b):
#                 break
#         else:
#             tags[iter_match] = 'B-poi'
#             indexes.append(iter_match)
            
#     indexes_total.append(indexes)
#     tags_total.append(tags)
#     print(indexes)
#     print(tags)
#     print()

In [12]:
len(indexes_total)==len(data_train.values)

True

In [13]:
len(tags_total)==len(data_train.values)

True

In [14]:
data_train_label = data_train.copy()
data_train_label['label'] = tags_total

In [15]:
data_train_label.head()

,raw,poi,raw_split,poi_split,label
0,jl kapuk timur delta sili iii lippo cika 11 a ...,,"[jl, kapuk, timur, delta, sili, iii, lippo, ci...",[],"[O, O, O, O, O, O, O, O, O, O, O, O, O]"
1,"aye, jati sampurna",,"[aye,, jati, sampurna]",[],"[O, O, O]"
2,setu siung 119 rt 5 1 13880 cipayung,,"[setu, siung, 119, rt, 5, 1, 13880, cipayung]",[],"[O, O, O, O, O, O, O, O]"
3,"toko dita, kertosono",toko dita,"[toko, dita,, kertosono]","[toko, dita]","[B-poi, I-poi, O]"
4,jl. orde baru,,"[jl., orde, baru]",[],"[O, O, O]"

In [16]:
data_train_label.to_csv('data_train_label_poi.csv',index=False)

# predict

In [6]:
test.head()

   id                                    raw_address
0   0          s. par 53 sidanegara 4 cilacap tengah
1   1          angg per, baloi indah kel. lubuk baja
2   2                          asma laun, mand imog,
3   3  ud agung rej, raya nga sri wedari karanganyar
4   4                     cut mutia, 35 baiturrahman