In [1]:
import pandas as pd

In [2]:
import glob
glob.glob('*csv')

['sampleSubmission.csv', 'test.csv', 'train.csv']

In [3]:
train = pd.read_csv('train.csv')
train.head()

,id,raw_address,POI/street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,3,"toko dita, kertosono",toko dita/
4,4,jl. orde baru,/jl. orde baru

In [4]:
train.columns

Index(['id', 'raw_address', 'POI/street'], dtype='object')

In [5]:
test = pd.read_csv('test.csv')
test.head()

   id                                    raw_address
0   0          s. par 53 sidanegara 4 cilacap tengah
1   1          angg per, baloi indah kel. lubuk baja
2   2                          asma laun, mand imog,
3   3  ud agung rej, raya nga sri wedari karanganyar
4   4                     cut mutia, 35 baiturrahman

In [6]:
street = train['POI/street'].apply(lambda x: x.split('/')[1])
street_split = street.apply(lambda x: x.split(' '))
street_split

0         [jl, kapuk, timur, delta, sili, iii, lippo, cika]
1                                                        []
2                                                   [siung]
3                                                        []
4                                         [jl., orde, baru]
                                ...
299995                                  [jend, ahmad, yani]
299996                                    [raya, cila, kko]
299997                                                   []
299998                                                   []
299999                                                   []
Name: POI/street, Length: 300000, dtype: object

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(street.values)

In [21]:
sum_col = X.sum(axis=0)

In [22]:
true_sum_col = sum_col.reshape(-1)

In [23]:
len(true_sum_col.tolist()[0])

21093

In [27]:
print(len(vectorizer.get_feature_names()))
# vectorizer.get_feature_names[:20]

21093

In [ ]:
for street_match in street

In [32]:
total = pd.DataFrame({'word':vectorizer.get_feature_names(),'total':true_sum_col.tolist()[0],'street':street})
total.tail()

ValueError: array length 21093 does not match index length 300000

In [31]:
total.sort_values('total',ascending=False).head(20)

        word  total
15556   raya  29987
7723      jl  13611
6037      gg  10917
6899      ii   6128
6907     iii   4574
7010   indah   3830
19452  timur   3759
2054   barat   3582
7213      iv   3260
7632    jend   2970
6442    haji   2916
2086    baru   2869
18849  taman   2571
20188  utara   2533
5792    gang   2395
603    ahmad   2378
20921   yani   2266
16847   sela   2239
11312    mas   2158
7540    jaya   2143